body {
    background-color: rgb(211, 211, 211);
}

.margen {
    margin-top: 75px;
}
.parallax {
    background-image: url('./assets/portada.jpg');
    height: 77vh;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
}

.pruebasssssssssssss {
    color: rgb(39, 39, 39);
}

.back-presentacion {
    background-color: rgba(0,0,0,0.8);
    background-image: url('./assets/back-presentacion3.jpg');
    background-size: cover;
}

.back-catalogo {
    background-color: rgba(0,0,0,0.8);
    background-image: url('./assets/back-catalogo.jpg');
    background-size: cover;
}
