body {
    background-color: rgb(211, 211, 211);
}

.margen {
    margin-top: 75px;
}
.parallax {
    background-image: url('./assets/portada.jpg');
    height: 77vh;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
}

