.navbar a:hover {
    color: var(#f4f4f4);
}

span {
    display: inline-block;
    vertical-align: middle;
}

body {
    background-color: rgb(241, 241, 241);
}

.container .jumbotron {
    background-color: #ffff;
}

.parallax {
    background-image: url('./assets/portada.jpg');
    height: 84vh;
    background-size: cover;
    background-position: 84%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10px;
}

.userPage {
    background-image: url('./assets/back-userPage.jpg');
    height: 30vh;
    background-size: cover;
    background-position: 84%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.pruebasssssssssssss {
    color: rgb(223, 223, 223);
}

.back-presentacion {
    background-image: url('./assets/back-presentacion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.back-catalogo {
    background-image: url('./assets/back-catalogo.jpg');
    background-size: cover;
    background-position: 84%;
    background-repeat: no-repeat;
}

.back-campamento {
    background-color: #111111;
}
